**/cache/
**/Cache/
**/.cache/
**/state/
**/tmp/
**/logs/
**/*.log
**/*.lock
**/*.sqlite*
**/*.db
/bluetuith/
/btop/
/calcurse/
/dconf/
/gh/
/go/telemetry/local
/ookla/
/pipewire/
/pipewire/pipewire.conf.d
/pulse/
/qBittorrent/
pavucontrol.ini
